# exclude everything except custom selections
/*

!.gitignore
!/.github/

!.babelrc
!.browserlistrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.babelrc
!.editorconfig
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!.prettierrc
!readme.txt
!README.md

/wp-admin/
/wp-admin/**/*

/wp-includes/
/wp-includes/**/*

!/wp-content/
/wp-content/*

!/wp-content/plugins/
/wp-content/plugins/*

!/wp-content/themes/
/wp-content/themes/*

# Specific exceptions are listed in the theme's '.gitignore' file.
!/wp-content/themes/whatforever/
/wp-content/themes/whatforever/*
