# exclude everything except custom selections
/*

!.gitignore
!/.github/

!.babelrc
!.browserlistrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.babelrc
!.editorconfig
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!.prettierrc
!readme.txt
!README.md

/wp-admin/
/wp-admin/**/*

/wp-includes/
/wp-includes/**/*

!/wp-content/
/wp-content/*

!/wp-content/plugins/
/wp-content/plugins/*

!/wp-content/themes/
/wp-content/themes/*


!/wp-content/themes/whatforever/
/wp-content/themes/whatforever/*

!/wp-content/themes/whatforever/assets/
/wp-content/themes/whatforever/assets/*
!/wp-content/themes/whatforever/assets/css/
!/wp-content/themes/whatforever/assets/fonts/
!/wp-content/themes/whatforever/assets/js/
!/wp-content/themes/whatforever/assets/*.scss
!/wp-content/themes/whatforever/assets/*.css
!/wp-content/themes/whatforever/assets/*.js
!/wp-content/themes/whatforever/assets/*.json
!/wp-content/themes/whatforever/assets/*.txt

!/wp-content/themes/whatforever/parts/
!/wp-content/themes/whatforever/patterns/
!/wp-content/themes/whatforever/styles/
!/wp-content/themes/whatforever/templates/

!/wp-content/themes/whatforever/.babelrc
!/wp-content/themes/whatforever/.browserlistrc
!/wp-content/themes/whatforever/composer.json
!/wp-content/themes/whatforever/composer.lock
!/wp-content/themes/whatforever/CHANGELOG.md
!/wp-content/themes/whatforever/CONTRIBUTING.md
!/wp-content/themes/whatforever/.babelrc
!/wp-content/themes/whatforever/.editorconfig
!/wp-content/themes/whatforever/LICENSE
!/wp-content/themes/whatforever/package.json
!/wp-content/themes/whatforever/package-lock.json
!/wp-content/themes/whatforever/phpcs.xml
!/wp-content/themes/whatforever/.prettierrc
!/wp-content/themes/whatforever/readme.txt
!/wp-content/themes/whatforever/README.md
!/wp-content/themes/whatforever/screenshot.png
!/wp-content/themes/whatforever/style.css
!/wp-content/themes/whatforever/theme.json
