# exclude everything except custom selections
/*

!.gitignore
!/.github/

!.babelrc
!.browserlistrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.babelrc
!.editorconfig
!license.txt
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!.phpcs.xml
!phpcs.xml.dist
!.phpcs.xml.dist
!.prettierrc
!readme.txt
!README.md
!webpack.config.js

node_modules/
node_modules/*
node_modules/**/*

vendor/
vendor/*
vendor/**/*

# THIS PLUGIN SPECIFIC rules.

!an-whatever.php
!an-whatever-constants.php
!uninstall.php

!/languages/

!/includes/
/includes/*
!/includes/*.php
!/includes/**/.php

!/_src/
/_src/*

!/_src/blocks
/_src/blocks/*

!/_src/blocks/accordion
!/_src/blocks/accordion-item

!/blocks/
/blocks/*

!/blocks/accordion
!/blocks/accordion-item

