# exclude everything except custom selections
/*

!.gitignore
!/.github/

!.babelrc
!.browserlistrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.babelrc
!.editorconfig
!LICENSE
!package.json
!package-lock.json
!phpcs.xml
!.prettierrc
!readme.txt
!README.md

!/assets/
/assets/*
!/assets/css/
!/assets/fonts/
!/assets/js/
!/assets/*.scss
!/assets/*.css
!/assets/*.js
!/assets/*.json
!/assets/*.txt

!/parts/
!/patterns/
!/styles/
!/templates/

!/.babelrc
!/.browserlistrc
!/composer.json
!/composer.lock
!/CHANGELOG.md
!/CONTRIBUTING.md
!/.babelrc
!/.editorconfig
!/LICENSE
!/package.json
!/package-lock.json
!/phpcs.xml
!/.prettierrc
!/readme.txt
!/README.md
!/screenshot.png
!/style.css
!/theme.json
